@page "/faq"

@attribute [Authorize]

<PageTitle>FAQ</PageTitle>

<h1>FAQ</h1>

<FluentCard>
    <FluentAccordion ExpandMode="AccordionExpandMode.Single">
        <FluentAccordionItem Heading="Where do I send paperwork?">
            <FluentIcon Value="@(new Icons.Regular.Size20.Mail())" Color="@Color.Accent" Slot="start" />
            You can send paperwork to the following address: <br /><br />D &amp; E Couriers Ltd <br />36 Provost Mitchell Road <br />Montrose  DD10 9DH      
       </FluentAccordionItem>
        <FluentAccordionItem Heading="I've broken down...">
            <FluentIcon Value="@(new Icons.Regular.Size20.QuestionCircle())" Color="@Color.Accent" Slot="start" />
            Immediately call the client and advise them.  Then arrange breakdown cover to attend.  If you need your load to be collected from you please call Andrew Heron straight away.
        </FluentAccordionItem>
        <FluentAccordionItem Heading="Can I take multiple loads?">
            <FluentIcon Value="@(new Icons.Regular.Size20.QuestionCircle())" Color="@Color.Accent" Slot="start" />
            Coloading is strictly forbidden unless you have the go ahead from all shippers involved and also from Andrew Heron.  Do NOT coload without these in place.
        </FluentAccordionItem>
        <FluentAccordionItem Heading="Who pays for my fuel, tolls, ferries, LEZ charges?">
            <FluentIcon Value="@(new Icons.Regular.Size20.Money())" Color="@Color.Accent" Slot="start" />
            You are self employed, therefore any expenses incurred are down to you.  Build these costs in when you are bidding for work.
        </FluentAccordionItem>
        <FluentAccordionItem Heading="Is there a bidding structure I can follow?">
            <FluentIcon Value="@(new Icons.Regular.Size20.Money())" Color="@Color.Accent" Slot="start" />
            Ultimately you should bid whatever you feel comfortable with for every load, but as a very rough guide: <br /><br />
            Small Van:  £0.80 per mile <br />
            SWB Van: £0.85 per mile <br />
            MWB Van: £0.90 per mile <br />
            LWB Van: £1.15 per mile <br />
            XLWB Van: £1.30 per mile <br />
            Luton Van: £1.50 per mile <br /><br />
            You may have to adjust these prices up or down depending how busy CX is or individual circumstances relating to each load.  ie remote location, collecting or delivering in the middle of the night etc
        </FluentAccordionItem>
        <FluentAccordionItem Heading="How do I use the CX App?">
            <FluentIcon Value="@(new Icons.Regular.Size20.QuestionCircle())" Color="@Color.Accent" Slot="start" />
            The CX app is generally very self explanatory.  If you have any difficulties with it, please refer to the user guide <a href="https://help.transportexchangegroup.com/">Here</a>
        </FluentAccordionItem>
        <FluentAccordionItem Heading="I've waited an hour to unload?">
            <FluentIcon Value="@(new Icons.Regular.Size20.Timer())" Color="@Color.Accent" Slot="start" />
            Our standard terms are 1st half hour free then £40 per hour thereafter.  If you've been waiting a long time at either collection or delivery, please call the client and agree waiting time BEFORE closing off the job.
        </FluentAccordionItem>
        <FluentAccordionItem Heading="Do you have a van I could rent?">
            <FluentIcon Value="@(new Icons.Regular.Size20.VehicleTruckProfile())" Color="@Color.Accent" Slot="start" />
            This may be something we'd be prepared to look at in the future, but at the moment, as a self employed driver you should have your own vehicle and all suitable insurances in place.
        </FluentAccordionItem>
        <FluentAccordionItem Heading="What insurance do I need to be a driver with you?">
            <FluentIcon Value="@(new Icons.Regular.Size20.DocumentBulletList())" Color="@Color.Accent" Slot="start" />
            As a minimum you will need Carriage of Goods for Hire and Reward; Public Liability; Goods In Transit
        </FluentAccordionItem>
        <FluentAccordionItem Heading="What is the best size of van to use?">
            <FluentIcon Value="@(new Icons.Regular.Size20.VehicleTruckProfile())" Color="@Color.Accent" Slot="start" />
            It's a trade off...  Bigger vans like XLWB and Luton will give you the largest choice of loads to bid on, but your running costs will be higher.
        </FluentAccordionItem>
        <FluentAccordionItem Heading="Can you tell me how much I will earn?">
            <FluentIcon Value="@(new Icons.Regular.Size20.MoneyCalculator())" Color="@Color.Accent" Slot="start" />
            Your earnings are purely down to your effort.  One of our drivers was consistently earning 3k per week in 2024
        </FluentAccordionItem>
        <FluentAccordionItem Heading="How often do you pay?">
            <FluentIcon Value="@(new Icons.Regular.Size20.MoneyHand())" Color="@Color.Accent" Slot="start" />
            Work week runs from midnight Thursday to midnight Thursday.  Any work completed up to midnight Thursday is paid on the Friday same week, with the exception of any Non Factored work
        </FluentAccordionItem>
        <FluentAccordionItem Heading="What does Non Factored mean?">
            <FluentIcon Value="@(new Icons.Regular.Size20.ShapeIntersect())" Color="@Color.Accent" Slot="start" />
            We use invoice factoring to allow us to pay you so quickly.  Some clients do not accept invoices from factoring companies, meaning you will be paid for their work when we receive payment,  the current list of non factored clients can be accessed from the main menu.
        </FluentAccordionItem>
   </FluentAccordion> 
</FluentCard>

@code {

}
